#header {

  position: relative;
  width: 960px;
  height: 75px;
  margin: 0 auto;
  background: url(semi-tsp.png) repeat;
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  box-shadow:  0px 0px 2px #007FAD;

  .selected-deals-link {
    float: right;
    margin: 26px 35px 0 0;
    a {
      font-size: 18px;
      color: #007FAD;
      font-weight: bold;
    }
  }

}

#logo {
  float: left;
  margin: 5px 0 0 15px;
  position: relative;
}

.help {
  cursor: pointer;
  margin-bottom: 37px;
  opacity: .2;

  &:hover {
    opacity: .7;
  }
}

.close-popup {
  position: absolute;
  top: -17px;
  right: -17px;
  cursor: pointer;
}

#site-description {
  @include rounded-corners(5px);

  position: absolute;
  left: 13px;
  top: 65px;
  width: 265px;
  border: 1px solid $main-color;
  background: #F7FCF7;
  padding: 10px;
  z-index: 10;
}

#city {
  height: 40px;
  float: left;
  margin: 24px 0 0 100px;

  span {
    color: #404040;
    text-shadow: 0 2px 2px #C4C4C4;
  }

  #current-city {
    position: relative;
    margin-left: 10px;
    font-size: 20px;
    border-bottom: 1px dashed #007FAD;
    cursor: pointer;
  }

  #all-cities {
    position: absolute;
    top: 35px;
    left: -140px;
    z-index: 100;
    display: none;
    min-width: 235px;
    padding: 10px;
    background: url(semi-tsp.png) repeat, url(semi-tsp.png) repeat, url(semi-tsp.png) repeat, url(semi-tsp.png) repeat;
    cursor: default;
    box-shadow: 0px 0px 2px #007fad;
    border-radius: 5px;

    h3 {
      padding: 0px 0px 0px 20px;
      font-size: 16px;
      text-shadow: 0 1px white;
    }

    #russia {
      float: left;

      h3 { background: url(flag-russia.png) no-repeat 0px 4px; }
    }

    #ukraine {
      float: left;
      margin: 0 0 0 35px;

      h3 {  background: url(flag-ukraine.png) no-repeat 0px 4px; }
    }

    ul { width: 100px;

      li {
        clear: left;
        float: left;
        cursor: pointer;

        a {
          font-size: 12px;
          color: #404040;
          text-decoration: none;
          text-shadow: 0 1px white;

          &:hover {
            text-shadow: 0 0px 1px #0099FF;
          }
        }
      }
    }
  }
}
