<% content_for :head do %>
	<%= stylesheet_link_tag 'welcome' %>
<% end %>

<div id='offers'>
  <div id='main-description' class=''>
    <div id='qweqwe' style="text-align: center; margin-top: 15px;">
		<a href="#" style="text-decoration: none; border-bottom: 1px dashed #007fad; color: #007fad;">Для чего нужен этот сайт?</a><a href="#" style="text-decoration: none; color: #007fad; margin-left: 30px; display: inline-block; padding: 5px; box-shadow: inset 0 1px 5px rgba(0,120,170,0.6); border-radius: 5px">Как пользоваться сайтом</a>
	</div>

   <div style="width: 665px; height: 200px;">

		<div style='color: #007FAD; font-weight: bold; margin: 50px 0px 0 70px; padding-top: 20px; text-align: center'>
			Выберите, пожалуйста, свой город
		</div>

   </div>

   <div id='seo-text' class='hidden'>
    <h1>Все купоны на скидку в Вашем городе</h1>
    <a>Какое добро мы можем Вам причинить?</a>
    <p>Купонавт (по аналогии со словом "космонавт") - это агрегатор купонов на скидку (? - про купоны).
    Это значит, что на данном сайте мы собираем актуальные скидочные купоны со всех сайтов коллективных покупок (таких как Groupon, Biglion, WeClever и ещё 112 представителей).</p>

    На этом сайте каждый день мы собираем купоны на скидку со всех доступных сайтов России и Украины.

   </div>
</div>
