<% content_for :head do %>
	<%= stylesheet_link_tag 'welcome' %>
<% end %>

<div id='welcome'>
  
    <div id='main-description-links'>
      <a href="#" id='what-for-link'>Для чего нужен этот сайт?</a>
      <a href="#" id='how-to-link' class='hidden'>Как пользоваться сайтом</a>
    </div>

    <div id='city-choose-notification' class=''>
			Выберите, пожалуйста, свой город
		</div>
   

   <div id='what-for-text' class=''>
    <h1>Все купоны на скидку в Вашем городе</h1>
    <p><b>Купонавт</b> <span style='font-size: 12px; '>(по аналогии со словом "космонавт")</span> - это агрегатор купонов на скидку (<span style='color: #007fad; border-bottom: 1px dashed #007fad; cursor: pointer'>что такое купон на скидку?</span>).</p>
    <p>На этом сайте мы собираем скидочные <b style='color: #404040'>купоны со всех сайтов</b> коллективных покупок (таких как Groupon, Biglion, WeClever и ещё 257 представителей!).</p>
    <p></p>   
</div>
