// Place all the styles related to the admin/bot controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body#admin-bot-controller {

  .bot-entry {
    margin-bottom: 25px;

    .title {
      width: 500px;
      color: #007FAD;
    }

    .category {
      width: 260px;
      color: #007FAD;
      font-weight: bold;
    }

    .match {
      width: 200px;
      color: red;
      font-weight: bold;
    }

    .cancel {
      cursor: pointer;
      width: 50px;
      font-size: 12px;
    }

    table {
        td {
            font-weight: bold;
            color: #007FAD;
            padding: 10px;
            border: 1px solid #007fad;
            border-radius: 5px;
        }
    }

    .slabak {
        padding: 10px;
        border-radius: 5px;
        border: 2px solid red;
        font-weight: bold;
    }
  }

}
