<nav class='pagination pagination-template'>
  <span class='page current'>1</span>
  <span class='page'> <%= link_to 2, "#{@city.name}/offers?page=2", :rel => 'next', 'data-page' => 2 %> </span>
  <% (3..5).each do |page_index| %>
    <span class='page'> <%= link_to page_index, "#{@city.name}/offers?page=#{page_index}", 'data-page' => page_index %> </span>
  <% end %>
  <span class='page gap'>...</span>
  <span class='next'> <%= link_to raw(t 'views.pagination.next'), "#{@city.name}/offers?page=2", :rel => 'next' %> </span>
  <span class='last'> <%= link_to t('views.pagination.last'), "#{@city.name}/offers?page=LAST_PAGE" %> </span>
</nav>
