<div id='all-offers'>

  <div id='offers'>

    <div id='favourites-sort'>

      <div id='current-offers-count'>
        <%= t('offers.checked') -%> <span id='offers-selected-count'>0</span>
      </div>

    </div>

    <div id='all-offers'>

      <div id='offers-section'>
      </div>

    </div>

  </div>

</div>

