// Place al the styles related to the offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#offers {

   background: url(semi-tsp.png) repeat;
   width: 700px;
   float: left;
   border-radius: 5px;
   box-shadow:  0px 0px 2px $main-color;
   margin-bottom: 70px;

  div#sort {
    position: relative;
    height: 50px;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 0px 2px $main-color;
    margin-bottom: 15px;

    #offers-selected-count {
      padding: 5px;
    }

    #sort-buttons {
      position: absolute;
      bottom: -1px;
      right: 15px;

      li {
        display: inline-block;
        padding: 5px 10px 7px;
        font-size: 16px;
        color: white;
        cursor: pointer;
        background-image: url(sort-tsp.png);
        border: 1px solid #64A2B2;
        border-left: 1px solid #73BACC;
        -moz-transition: box-shadow 70ms linear, padding .1s linear;
        -webkit-transition: box-shadow 70ms linear, padding .1s linear;
        
        &:hover {
          background-image: url(sort-tsp-current.png);
          border-left: 1px solid #64A2B2;
        }

        &:active {
position: relative;
          bottom: -1px;
          box-shadow: inset 0px 1px 8px rgba(0,0,0,0.45);
        }
       }



      .sort-arrow-inactive {
        position: absolute;
        top: 6px;
        right: 6px;
        background: url(sort-arrows.png);
        width: 10px;
        height: 17px;
        display: none;
      }
    }

    h2 {
     font-size: 22px;
    }
    span {
     font-size: 14px;
    }

    p {
      span {
        font-size:16px;
        float:right;
        cursor: pointer;
      }
    }
  }

  div.offer {
     display: inline-block;
     width: 640px;
     margin: 0 0 15px 15px;
     padding: 15px 15px 30px;
     position: relative;
     border-radius: 5px 5px 10px 10px;
     box-shadow:  0 0 3px $main-color;
     background: url(offer-tsp.png);

     &:hover {
       box-shadow: 0 0 7px $main-color;
     }

     h2 {
       padding-bottom: 20px;
       text-align: justify;
       text-shadow: 0px 1px 1px white;

       a {
         font-size: 18px;
         text-decoration: none;
         color: $main-color;
         font-weight: bold;
       }
     }


     .offer-left-side {
       float: left;
       position: relative;

       .offer-image {
         border: 1px solid #F3F3F3;
         padding: 2px;
         width: 360px;
       }

       .offer-image-bottom {
         opacity: .7;
         position: absolute;
         left: 3px;
         bottom: 5px;
         width: 360px;
         height: 24px;
         background: url(metro-tsp.png);

         .subway {
           margin: 2px 0 0 3px;
           float: left;
           background: url(metro-red.png);
           width: 20px;
           height: 20px;
         } 

         .subway-station {
           float: left;
           max-width: 220px;
           margin: 3px 0 0 6px;
         }

         .provider {
           float: right;
           width: auto;
           height: 24px;
         } 
       }

     }

     .offer-right-side {
        float: left;
        margin-left: 20px;
        width: 235px;
        height: 237px;
        position: relative;
        margin-bottom: 25px;

        .price {
          color: green;
          font-weight: bold;
          text-align: center;
          font-size: 130%;
          .hrn { font-weight: normal; }
        }

        .info {
           font-size: 80%;
           color: grey;
           text-align: center;
         }

         table {
           text-align: center;
           font-size: 80%;
           margin: 10px auto;
           color: grey;

           td {
             padding: 0 10px;
           }

           tr {
             border-left: 1px solid grey;
           }
         } /* Table */

         .add-button {
           position: absolute;
           bottom: 7px;
           left: 5px;
           width: 35px;
           height: 35px;
           background: url(add-icons.png);
           cursor: pointer;

           &:hover {
             background: url(add-icons.png);
             background-position: -35px; 
           }

           &:active {
             bottom: 6px;
             background: url(add-icons.png);
             background-position: -70px; 
           }
         }

         .buy-button {
           display: block;
           text-align: center;
           text-decoration: none;
           font-weight: bold;
           color: white;
           padding: 8px;
           width: 150px;
           line-height: 30px;
           position: absolute;
           bottom: 0px;
           left: 60px;
           background: $main-color;
           background:-webkit-linear-gradient(#47AACC,#007fac);
           background:-moz-linear-gradient(#47AACC,#007fac);
           background:-o-linear-gradient(#47AACC,#007fac);
           border: 1px solid $main-color;
           border-top: 1px solid #47AACC;
           border-radius: 4px;
           text-shadow: 0px 1px 1px $main-color;

           &:hover {
             border: 1px solid #006f91;
             border-right: 1px solid #00a1d6;
             border-bottom: 1px solid #00a1d6;
             background: #007fac;
             text-shadow: 0 0 10px #7addff;
           }

           &:active {
             bottom: -1px;
             box-shadow:  inset 0px 1px 8px rgba(0,0,0,0.6);
           }
         }
     } /* Right Side */

     .offer-details {
       clear: left;
       float: left;
       display: none;
     }

     div.offer-bottom {
       position: absolute;
       width: 672px;
       bottom: 0px;
       left: 0px;
       border-radius: 0 0 10px 10px;
       border-top: 1px solid #97D0C9;
       padding: 0;

       img {
         width: 20px;
         margin: 0;
         border: none;
       }

     }

  } /* Offer */

} /* Offers */

#filter {
  background: url(semi-tsp.png) repeat;
  float: right;
  width: 235px;
  border-radius: 5px;
  box-shadow:  0px 0px 2px $main-color;
  position: relative;
  z-index: 1;
  clear: right;

  p.first-category {
    margin-top: 5px;
  }

  p {
    text-align: center;
    margin: 20px 0 10px;
    color: black;
    text-shadow: 0 2px 3px #C4C4C4;

    span {
      margin-left: 15px;
      border-bottom: 1px dashed $main-color;
    }
  }

  .all-categories-links {
    text-decoration: none;
    color: $main-color;
  }

  #all-offers-check {
    margin-left: -20px;
  }


  .all-tags {
    margin-left: 4px;
    border-bottom: 1px dashed $main-color;
    cursor: pointer;
    color: $main-color;
  }

  #all-categories {
    margin: 20px 10px;
    padding: 2px 0 0;
    border-radius: 4px;
  }

  ul {
    padding: 3px 3px 2px;
    border-radius: 3px;
    color: black;
    text-shadow: 0 1px white;

    li {
      margin-bottom: 3px;

      label {
        cursor: pointer;
        font-size: 14px;
      }
    }
  }

  .hover {
    box-shadow: 0 0 4px $main-color;
  }

  input {
    background: white;
  }

  .amount {
    float: right;
    font-size: 14px;
    margin-right: 3px;
    cursor: pointer;
  }

  #search {
    margin-bottom: 13px;

    input#search_field {
      margin-left: 18px;
      width: 156px;
      border-radius: 5px;
      padding: 3px;
      background: url(offer-tsp.png) repeat;
      -webkit-transition: box-shadow 150ms linear;
      -moz-transition: box-shadow 150ms linear;
      color: grey;
      &:focus {
        box-shadow: inset 0 1px 2px rgba(0,0,0,.5);
				color: black;
				text-shadow: 0 1px 1px white
      }
    }

    span#search-button {
      position: absolute;
      bottom: 14px;
      right: 17px;
      background: url(search.png);
      display: inline-block;
      width: 30px;
      height: 30px;
      cursor: pointer;
      -webkit-transition: all .1s linear;
      -moz-transition: all .1s linear;
      &:active {
        bottom: 12px;
      }
    }

  }

}



#pagination-bottom {
    margin: 5px auto 15px;
    width: 590px;
    font-size: 80%;

    .page {
      margin: 0 -1px;
    }

    a {
      padding: 2px 7px 3px;
      text-decoration: none;
      color: black;
      @include rounded-corners(3px);

      &:hover {
        background: $main-color;
        color: white;
      }
      &:active {
        box-shadow: 0 0 2px #007fad;
      }
  }

  .current {
    padding: 2px 8px 3px 7px;
    border: 1px solid $main-color;
    color: white;
    @include rounded-corners(3px);
    background: #007fad;
    border-right: 1px solid #00a1d6;
    border-bottom: 1px solid #00a1d6;
  }
}

