// Place al the styles related to the offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pressed { box-shadow: inset 0 1px 5px rgba(0,120,170,0.6);

    &:hover { box-shadow: inset 0 1px 5px rgba(0,120,170,0.6) !important}
}

div#offers {
  background: url(semi-tsp.png) repeat;
  width: 700px;
  float: left;
  border-radius: 5px;
  box-shadow:  0px 0px 2px $main-color;
  margin-bottom: 70px;

  #main-description {
    margin: 15px 0 0 15px;
    display: none;
    text-shadow: 0px 1px white;

    h1 { text-align: center; font-size: 18px; font-weight: bold }

    p { line-height: 1.5}


  }

  #favourites-sort { position: relative; height: 50px }

  #current-offers-count {
    position: absolute;
    top: 16px;
    left: 270px;
    text-shadow: 0 1px 1px white;

    #ee-yo { float: left }

    #offers-selected-count {
        padding: 1px;
        font-size: 16px;
        color: $main-color;
    }

    #loader {
        display: none;
        float: left;
        margin: -4px 0px 0px 7px;

    }
  }

  div#sort {
    position: relative;
    height: 100px;

    #lenses {
        position: absolute;
        top: 14px;
        left: 15px;

        li {
            margin-right: 1px;
            display: block;
            float: left;
            padding: 2px 5px 5px;
            cursor: pointer;
            border-radius: 3px;
            color: #007FAD;

            &:hover { box-shadow: 0px 1px 5px rgba(0,120,170,0.6) }


        }

        .pressed {
            padding: 3px 5px 5px;
            box-shadow: inset 0 1px 5px rgba(0,120,170,0.6);

           &:hover { box-shadow: inset 0 1px 5px rgba(0,120,170,0.6) }
        }
    }

    #show-main-map-button {
        display: none;
        clear: right;
        float: right;
        width: 185px;
        margin: 9px 15px 15px 200px;
        padding: 3px;
        border-radius: 3px;
        cursor: pointer;
        color: #007FAD;

        &:hover { box-shadow: 0px 1px 5px rgba(0,120,170,0.8) }

        span {
            display: block;
            float: right;
            margin: 4px 2px 0px 2px;

        }
    }

    #sort-reset {
      color: $main-color;
      font-weight: bold;
      cursor: pointer;
      padding: 0 10px;
    }

    #sort-buttons {
        position: absolute;
        top: 50px;
        left: 100px;

        .first-child {
            border-radius: 3px 0 0 3px;
            border-left: 1px solid #64A2B2;
        }

        .last-child {
            border-radius: 0px 3px 3px 0px;
            border-left: 1px solid #73BACC;
        }

      li {
        display: inline-block;
        position: relative;
        padding: 5px 11px 6px;
        font-size: 16px;
        color: white;
        cursor: pointer;
        background-image: url(sort-tsp.png);
        border: 1px solid #64A2B2;
        border-left: 1px solid #73BACC;
        -moz-transition: box-shadow 70ms linear, padding .1s linear;
        -webkit-transition: box-shadow 70ms linear, padding .1s linear;

        &:hover {
          background-image: url(sort-tsp-current.png);
          border-left: 1px solid #64A2B2;
        }

        &:active {
          position: relative;
          bottom: -1px;
          box-shadow: inset 0px 1px 8px rgba(0,0,0,0.45);
        }

      }

      .current-sort {
        position: relative;
        top: 2px;
        padding: 6px 20px 5px 4px;
        color: white;
        background-image: url(current-sort-tsp.png);
        box-shadow: inset 0px 1px 8px rgba(0,0,0,0.45);
        border: 1px solid #296577;
      
        &:hover {
          border-left: 1px solid #296577;
        }
      }

      .asc {
        position: absolute;
        top: 8px;
        right: 4px;
        background: url(sort-arrows.png);
        z-index: 1;
        width: 13px;
        height: 13px;
        -webkit-transition: -webkit-transform 0.3s ease;
      }

      .desc {
        position: absolute;
        top: 7px;
        right: 4px;
        background: url(sort-arrows.png);
        background-position: -13px 50%;
        z-index: 1;
        width: 13px;
        height: 13px;
      }


      .sort-arrow-inactive {
        position: absolute;
        top: 6px;
        right: 6px;
        background: url(sort-arrows.png);
        width: 10px;
        height: 17px;
        display: none;
      }
    }

  }

  #no-results-to-display {
    position: relative;
    float: left;
    margin: 110px 0px 110px 70px;
    clear: both;
    color: #007FAD;
    font-weight: bold;

    #no-results-arrow-right {
        position: absolute;
        top: -9px;
        right: -165px;
        background-image: url(arrow-right.png);
        width: 152px;
        height: 52px;
    }
  }
  #no-results-for-time-period {
    position: relative;
    float: left;
    margin: 105px 0px 110px 150px;
    clear: both;
    color: #007FAD;
    font-weight: bold;

    p { margin-top: 10px }

    #no-results-arrow-up {
        position: absolute;
        top: -45px;
        left: -115px;
        background-image: url(arrow-up.png);
        width: 126px;
        height: 140px;
    }
  }
  #no-results-found {
    float: left;
    margin: 110px 0px 110px 145px;
    clear: both;
    color: #007FAD;
    font-weight: bold;
  }
  .time-period-tag {
    color: red;
  }

  div.offer {
    display: inline-block;
    width: 640px;
    margin: 0 0 15px 15px;
    padding: 11px 15px 30px;
    position: relative;
    border-radius: 5px 5px 10px 10px;
    box-shadow:  0 0 3px $main-color;
    background: url(offer-tsp.png);

    &:hover {
      box-shadow: 0 0 7px $main-color;
    }

    h2 {
      margin-bottom: 15px;
      text-align: justify;
      text-shadow: 0px 1px 1px white;



      a {
        font-size: 18px;
        text-decoration: none;
        color: $main-color;
        font-weight: bold;

        &:hover { color: #0099D1 };

      }
    }


    .offer-left-side {
      float: left;
      position: relative;

      .offer-image {
        border: 1px solid #F3F3F3;
        padding: 2px;
        width: 390px;
        height: 216px;
      }

      .offer-image-bottom {
        opacity: .7;
        position: absolute;
        left: 3px;
        bottom: 4px;
        width: 390px;
        height: 30px;
        background: url(metro-tsp.png);
        overflow: hidden;
        /*-webkit-transition: height 200ms linear;*/
        /*-moz-transition: height 200ms linear;*/

        &:hover {
          overflow: visible;
          height: auto;
          opacity: 1;
          /*padding: 0 0 3px 0;*/
        }

        .subway {
          margin: 5px 0 0 6px;
          float: left;
          background: url(metro-red.png);
          width: 20px;
          height: 20px;
        } 

        .subway-station {
          float: left;
          max-width: 220px;
          margin: 6px 0 6px 6px;
        }

        .provider {
          float: right;
          width: auto;
          height: 30px;
        }
      }

    }

    .offer-right-side {
      float: left;
      margin-left: 5px;
      width: 235px;
      height: 220px;
      position: relative;
      margin-bottom: 10px;

      .info-container { margin-left: 7px }

      .price {
        color: green;
        font-weight: bold;
        text-align: center;
        font-size: 150%;
        .currency { font-weight: normal; }

        .starts-at {
          font-weight: normal;
          text-transform: lowercase;
        }
      }

      .info {
        font-size: 12px;
        color: grey;
        text-align: center;
      }

      table {
        text-align: center;
        margin: -3px auto 15px;
        color: grey;

        td { padding: 0 10px; font-size: 12px }
        
        .offer-cost, .offer-discount, .offer-savings { color: black; font-size: 14px }
      } /* Table */

      .time-left { margin-top: 3px; text-align: center; font-size: 14px }
      .time-left-red { margin-top: 3px; text-align: center; font-size: 14px; color: #ee3f41 }

      .add-button {
        position: absolute;
        bottom: 5px;
        left: 10px;
        width: 35px;
        height: 35px;
        background: url(add-icons.png);
        cursor: pointer;

        &:hover {
          background: url(add-icons.png);
          background-position: -35px;
        }

        &:active {
          bottom: 4px;
          background: url(add-icons.png);
          background-position: -70px;
        }
      }

      .add-button-added {
        bottom: 4px;
        background: url(add-icons.png);
        background-position: -70px;
      
        &:hover {
          background-position: -70px;
        }

        &:active {
          bottom: 5px;
          background-position: -35px;
        }
      }

      .buy-button {
        display: block;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        color: white;
        padding: 8px;
        width: 150px;
        line-height: 30px;
        position: absolute;
        bottom: -1px;
        left: 64px;
        background: $main-color;
        background:-webkit-linear-gradient(#47AACC,#007fac);
        background:-moz-linear-gradient(#47AACC,#007fac);
        background:-o-linear-gradient(#47AACC,#007fac);
        border: 1px solid $main-color;
        border-radius: 4px;
        text-shadow: 0px 1px 1px $main-color;

        &:hover {
          border: 1px solid #006f91;
          border-right: 1px solid #00a1d6;
          border-bottom: 1px solid #00a1d6;
          background: #007fac;
          text-shadow: 0 0 10px #7addff;
        }

        &:active {
          bottom: -2px;
          box-shadow:  inset 0px 1px 8px rgba(0,0,0,0.6);
        }
      }
    } /* Right Side */

    .offer-details {
      clear: left;
      float: left;
      display: none;
    }

    .offer-address {
      display: none;
      font-weight:bold;
      margin:25px;
    }

    .offer-description {
      margin-top: 40px;
      position: relative;
      width: 639px;
      color: #505050;
      text-shadow: 0px 1px white;

      a { color: #007fad; }

      .offer-description-roll-up {
          position: absolute;
          top: -28px;
          left: 290px;
          border-bottom: 1px dashed #007fad;
          color: #007fad;
          cursor: pointer;
          /*opacity: .5;

          &:hover { opacity: 1 }*/
      }

      .offer-description-overflow { overflow: hidden }
      
      li { margin-bottom: 10px }
    }

    div.offer-bottom {
      position: absolute;
      width: 670px;
      bottom: 0px;
      left: 0px;
      border-radius: 0 0 10px 10px;
      border-top: 1px solid #97D0C9;
      padding: 0;
      cursor: pointer;

      /*&:hover { box-shadow: 0px 0px 3px white; }*/

      .offer-bottom-inner-border { text-align: center; /*border-top: 1px solid white;*/ }

      &:active { box-shadow: inset 0px 1px 8px rgba(0, 120, 170, 0.8) }
      img {
        width: 20px;
        margin: 0;
        border: none;
      }

    }

  } /* Offer */

} /* Offers */

#filter {
  background: url(semi-tsp.png) repeat;
  float: right;
  width: 240px;
  border-radius: 5px;
  box-shadow:  0px 0px 2px $main-color;
  position: relative;
  z-index: 1;
  clear: right;

  p.first-category {
    margin-top: 5px;
  }

  p {
    text-align: center;
    margin: 20px 0 7px;
    color: black;
    text-shadow: 0 2px 3px #C4C4C4;
    font-size: 17px;

    span {
      border-bottom: 1px dashed $main-color;
      color: $main-color;
      cursor: pointer;
    }
  }

  .type {font-size: 14px }

  .all-categories-links {
    text-decoration: none;
    color: $main-color;
  }

  #all-offers-check { }

  #all-offers-clear { margin-left: 10px; }


  .all-tags {
    margin-left: 0px;
    border-bottom: 1px dashed $main-color;
    cursor: pointer;
    color: $main-color;
  }

  .red { color: #900000 }

  #all-categories {
    margin: 20px 10px;
    padding: 2px 0 0;
    border-radius: 4px;
  }

  ul {
    padding: 3px 3px 2px;
    border-radius: 3px;
    color: black;
    text-shadow: 0 1px white;

    li {
      margin-bottom: 3px;

      label {
        cursor: pointer;
        font-size: 13px;
      }

      .sub-category-text {
          position: relative;
          bottom: 1px;
          width: 160px;
          display:inline-block;
      }
    }
  }

  .hover {
    box-shadow: 0 0 4px $main-color;
  }

  input {
    background: white;
  }

  .amount {
    float: right;
    margin: 2px 3px 0 0;
    padding-bottom: 1px;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 1px dashed #007FAD;
    color: #007FAD;
    text-shadow: none;
  }

  #search {
    margin-bottom: 10px;

    input#search {
      margin-left: 18px;
      width: 156px;
      border-radius: 5px;
      padding: 3px;
      background: url(offer-tsp.png) repeat;
      -webkit-transition: box-shadow 150ms linear;
      -moz-transition: box-shadow 150ms linear;
      color: grey;
      &:focus {
        box-shadow: inset 0 1px 2px rgba(0,0,0,.5);
        color: black;
        text-shadow: 0 1px 1px white
      }
    }

    span#search-button {
      position: absolute;
      bottom: 19px;
      right: 17px;
      background: url(search.png);
      display: inline-block;
      width: 30px;
      height: 30px;
      cursor: pointer;
      -webkit-transition: all .1s linear;
      -moz-transition: all .1s linear;
      &:active {
        bottom: 18px;
      }
    }

  }

}

#scroll-up-container-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    #scroll-up {
        margin: 0 auto;
        position: relative;
        bottom: 150px;
        left: 354px;
        background: url(scroll-up.png);
        cursor: pointer;
        width: 120px;
        height: 121px;
        opacity: .2;
        border-radius: 65px;

        &:hover { opacity: .4 }

        &:active { opacity: .7 }

    }

}

#offers-per-page, .offers-per-page {
    float: left;
    margin: 15px;
    font-size: 12px;
    color: #484848;
    text-shadow: 0px 1px white;

    span {
        padding: 2px 8px 3px 7px;
        border-radius: 3px;
        color: #484848;
        cursor: pointer;

        &:hover { box-shadow: 0px 1px 5px rgba(0,120,170,0.6) }
    }

    .current { box-shadow: inset 0px 1px 5px rgba(0,120,170,0.8); color: black;
        &:hover { box-shadow: inset 0px 1px 5px rgba(0,120,170,0.8) }
     }
}

#pagination-bottom {
  position: relative;
  margin: 50px 0px 25px;
  text-align: center;
  font-size: 12px;
  text-shadow: 0px 1px white;

  .pagination { margin: 5px auto 15px; }

  .page { margin: 0 -1px; }

  .prev {
    position: absolute;
    bottom: 35px;
    left: 195px;
    font-size: 16px;

    a { padding: 6px 13px 7px; color: #484848; text-shadow: 0px 1px white }
  }

  .next {
    position: absolute;
    bottom: 35px;
    right: 205px;
    font-size: 16px;

    a { padding: 6px 13px 7px; color: #484848; text-shadow: 0px 1px white }
  }


  a {
    padding: 2px 7px 3px;
    text-decoration: none;
    color: #404040;
    text-shadow: 0px 1px white;
    @include rounded-corners(3px);

    &:hover { box-shadow: 0px 1px 5px rgba(0,120,170,0.8); }
    &:active { box-shadow: inset 0px 1px 5px rgba(0,120,170,0.8); }
  }

  .current {
    padding: 2px 8px 3px 7px;
    @include rounded-corners(3px);
    box-shadow: inset 0px 1px 5px rgba(0,120,170,0.8);
  }
}

