<div id="header">



	<div id="logo">

		<a href="#"><img src="logo.png" alt="Купонавт"/></a><img id="vopros" src="vopros.png" title="Что это за место?" onclick="document.getElementById('explain').style.display = 'block'" />

		<div id="explain">

			<span><img src="explain-close.png" style="cursor:pointer; float:right" onclick="document.getElementById('explain').style.display = 'none'" /></span>

			<p>Купонавт - это сайт, на котором собраны и отсортированы все скидочные купоны с десятков сайтов.</p><br />

			<p>Выберите свой город и получайте удовольствия со скидкой ; )</p>

		</div>

			

	</div>

	

	<div id="city">

		<span>Ваш город</span>

		<select>

			<option>Киев</option>

			<option>Днепропетровск</option>

			<option>Харьков</option>

			<option>Одесса</option>

			<option>Донецк</option>

		</select>

		 

	</div>

	

	<div id="login">

		<p>Зарегистрироваться | Войти</p><br />

		<p>Вы можете войти используя:

<a href="https://loginza.ru/api/widget?token_url=http://site.com/path/result.php&providers_set=vkontakte,google, yandex, facebook,twitter" class="loginza">

	<img class="soc-button" src="soc/vkontakte.png" alt="Вконтакте" title="Вконтакте">

    <img src="http://loginza.ru/img/providers/google.png" alt="Google" title="Google Accounts">

	<img src="http://loginza.ru/img/providers/yandex.png" alt="Yandex" title="Yandex">

    <img src="http://loginza.ru/img/providers/facebook.png" alt="Facebook" title="Facebook">

	<img src="http://loginza.ru/img/providers/twitter.png" alt="Twitter" title="Twitter">

    </a></p>

	</div>

	

  </div>
